<div class="card">
  <div class="nk-ecwg nk-ecwg6">
    <div class="card-inner">
      <div class="card-title-group">
        <div class="card-title"><h6 class="title"><%= title %></div>
      </div>
      <div class="data">
        <div class="data-group">
          <div class="amount"><%= count %></div>
        </div>
      </div>
    </div>
  </div>
</div>
