<%= content_for :title, 'Dashboard' %>

<div class="alert alert-pro alert-success alert-dismissible">
  <div class="alert-text"><h6>Bienvenue sur Truck Chain</h6>
    <p>Plateforme Middleware pour la Prédiction de Maladies Animales Basée sur le Machine Learning</p>
  </div>
  <button class="close" data-bs-dismiss="alert"></button>
</div>

<%= render :partial => 'components/empty_state' %>
