<%= content_for :title, 'Ajouter une commande' %>

<%= render :partial => 'components/header', locals: {title: 'Ajouter une commande'} %>

<div class="row" data-controller="coordinate">
  <div class="col-12 col-md-6">
    <%= render "form", order: @order %>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <map class="card-inner" id="map" style="height: 435px;">
      </map>
    </div>
  </div>
</div>
